.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/********** CUSTOM f8f4e5 **********/

@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

.buttonNext{
  display: block;
    width: 115px;
    height: 25px;
    background: #b3bb1e;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    font-family: 'Aleo',Georgia,serif;
}
.buttonNext:hover {
  opacity: 0.7;
}

body {
  background-image: url("./back.png");
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f8f4e5;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 12pt;
  font-family: "Spartan";
  color: #c1c1c5;
}

.logoimg{
  padding-top: 30px;
  padding-left: 30px;
}

.contact-us {
  background: #f8f4e5;
  padding: 20px 30px;
}

label, input, textarea, select{
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  font-family: 'Aleo',Georgia,serif;
    text-align: left;
    color: black;
}

input {
  margin-bottom: 24pt;
}
.headercontent{
  width: 100%;
  display: inline-flex;
}
.learnmore{
  padding-top: 25px;
  padding-left: 22%;
  padding-right: 30px;
  color: #c1c1c5;
  text-align: right;
}
@media screen and (max-width: 600px) {
  .learnmore{
  padding-left: 5%;
  }
}
.learnmorelink{
  text-decoration: none;
  color: #c1c1c5;
}
.titlenpf{
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
}

h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-family: 'Aleo',Georgia,serif;
  margin: 0 0 0.5em 0;
  padding-top: 10px;
}
.fa{
  padding-left: 10px;
  color:#f08b1d;
}
.fa-arrow-right{
  color:white !important;
}
span {
  font-size: 22pt;
}

em {
  color: #f08b1d;
  font-weight: bold;
}

input, textarea,select {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
  font-family: 'Open Sans', sans-serif !important;
}

input:focus, textarea:focus {
  border: 1px solid #6bd4b1;
  border-radius: 10px;
}

textarea {
  resize: vertical;
  height: 100px;
  min-height: 60px;
  max-height: 150px;
}

button {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}
button:hover {
  background: inherit;
  color: #f45702;
  border-bottom: 2px solid #f45702;
}

::selection {
  background: #ffc7b8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}


